<div class="panel-header">
    <div class="header text-center">
      <h2 class="title">Album</h2>
      <p class="category">Please checkout the bitches
        <!-- <a href="https://scttcper.github.io/ngx-toastr/" target="_blank">full documentation.</a> -->
      </p>
    </div>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-header row all-icons">
            <h4 class="card-title col-10">2020/02/20 20:20</h4>
            <i class="now-ui-icons ui-1_simple-remove col-1"></i>

          </div>
          <div class="card-body">
            <img class="" height=360px width=480px src="./assets/snapshot.jpg">


          </div>
        </div>

        
      </div>
     
    <div class="col-md-3">
        <div class="card">
            <div class="card-header row all-icons">
            <h4 class="card-title col-10">2020/02/20 20:20</h4>
            <i class="now-ui-icons ui-1_simple-remove col-1"></i>

            </div>
            <div class="card-body">
            <img class="" height=360px width=480px src="./assets/snapshot.jpg">
            </div>
    </div>

   

    
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header row all-icons">
            <h4 class="card-title col-10">2020/02/20 20:20</h4>
            <i class="now-ui-icons ui-1_simple-remove col-1"></i>

            </div>
            <div class="card-body">
            <img class="" height=360px width=480px src="./assets/snapshot.jpg">
            </div>
    </div>

    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header row all-icons">
            <h4 class="card-title col-10">2020/02/20 20:20</h4>
            <i class="now-ui-icons ui-1_simple-remove col-1"></i>

            </div>
            <div class="card-body">
            <img class="" height=360px width=480px src="./assets/snapshot.jpg">
            </div>
    </div>












  </div>
  
  <div class="col-md-3">
    <div class="card">
      <div class="card-header row all-icons">
        <h4 class="card-title col-10">2020/02/20 20:20</h4>
        <i class="now-ui-icons ui-1_simple-remove col-1"></i>

      </div>
      <div class="card-body">
        <img class="" height=360px width=480px src="./assets/snapshot.jpg">


      </div>
    </div>

    
  </div>
 
<div class="col-md-3">
    <div class="card">
        <div class="card-header row all-icons">
        <h4 class="card-title col-10">2020/02/20 20:20</h4>
        <i class="now-ui-icons ui-1_simple-remove col-1"></i>

        </div>
        <div class="card-body">
        <img class="" height=360px width=480px src="./assets/snapshot.jpg">
        </div>
</div>




</div>

<div class="col-md-3">
    <div class="card">
        <div class="card-header row all-icons">
        <h4 class="card-title col-10">2020/02/20 20:20</h4>
        <i class="now-ui-icons ui-1_simple-remove col-1"></i>

        </div>
        <div class="card-body">
        <img class="" height=360px width=480px src="./assets/snapshot.jpg">
        </div>
</div>

</div>
<div class="col-md-3">
    <div class="card">
        <div class="card-header row all-icons">
        <h4 class="card-title col-10">2020/02/20 20:20</h4>
        <i class="now-ui-icons ui-1_simple-remove col-1"></i>

        </div>
        <div class="card-body">
        <img class="" height=360px width=480px src="./assets/snapshot.jpg">
        </div>
</div>